    html,
    body {
    	margin: 0;
    	padding: 0;
    	vertical-align: top;
    	text-align: center;
    }

    select {
    	min-width: 100px;
    }

    input {
    	width: 100%;
    }

    .rangeDiv {
    	margin-top: 1px;
    	margin-bottom: 1px;
    }

    #previewColor {
    	background-color: #ff0000;
    	width: 100%;
    	height: 10px
    }

    #output {
    	font-size: 4em;
    }

    .st0 {
    	fill: none;
    }

    .st1 {
    	fill: #9d6e16;
    }

    .st2 {
    	fill: #FF2600;
    }

    .st3 {
    	fill: #CDDCE5;
    }

    .st4 {
    	fill: #aa6137;
    }

    .st5 {
    	fill: #8D1000;
    }

    #rpmText {
    	color: yellow;
    }

    #deviceList {
    	color: yellow;
    }
